<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.etl.eclipse.dt.launching.EtlLaunchConfigurationDelegate">
<listAttribute key="models">
<listEntry value="isMetamodelFileBased=false&#10;name=traceabilityOUT&#10;readOnLoad=false&#10;storeOnDisposal=true&#10;aliases=&#10;cached=true&#10;fileBasedMetamodelUri=&#10;metamodelUri=http\://www.eclipse.org/emf/2002/Ecore,http\://cs.gssi.it/traceabilitymodel/2019&#10;modelUri=platform\:/resource/TraceabilityModel/case-study/evaluation/Book2Publication/trace/evo/evo/Book2Publication.model&#10;reuseUnmodifiedFileBasedMetamodels=true&#10;type=EMF&#10;modelFile=/TraceabilityModel/case-study/evaluation/Book2Publication/trace/evo/evo/Book2Publication.model&#10;expand=false&#10;metamodelFile="/>
<listEntry value="isMetamodelFileBased=false&#10;name=traceabilityIN&#10;readOnLoad=true&#10;storeOnDisposal=false&#10;aliases=&#10;cached=true&#10;fileBasedMetamodelUri=&#10;metamodelUri=http\://www.eclipse.org/emf/2002/Ecore,http\://cs.gssi.it/traceabilitymodel/2019&#10;modelUri=platform\:/resource/TraceabilityModel/case-study/evaluation/Book2Publication/trace/evo/Book2Publication.model&#10;reuseUnmodifiedFileBasedMetamodels=true&#10;type=EMF&#10;modelFile=/TraceabilityModel/case-study/evaluation/Book2Publication/trace/evo/Book2Publication.model&#10;expand=true&#10;metamodelFile="/>
<listEntry value="isMetamodelFileBased=false&#10;name=evoTrace&#10;readOnLoad=true&#10;storeOnDisposal=false&#10;aliases=&#10;cached=false&#10;fileBasedMetamodelUri=&#10;metamodelUri=http\://www.eclipse.org/emf/2002/Ecore,http\://cs.gssi.it/traceabilitymodel/2019&#10;modelUri=platform\:/resource/TraceabilityModel/case-study/evaluation/Book2Publication/trace/Publication2EvoPublication.model&#10;reuseUnmodifiedFileBasedMetamodels=true&#10;type=EMF&#10;modelFile=/TraceabilityModel/case-study/evaluation/Book2Publication/trace/Publication2EvoPublication.model&#10;expand=true&#10;metamodelFile="/>
<listEntry value="isMetamodelFileBased=false&#10;name=evoMM&#10;readOnLoad=true&#10;storeOnDisposal=false&#10;aliases=evoMM&#10;cached=true&#10;fileBasedMetamodelUri=&#10;metamodelUri=http\://www.eclipse.org/emf/2002/Ecore&#10;modelUri=platform\:/resource/TraceabilityModel/case-study/evaluation/Book2Publication/evo/evo/Publication.ecore&#10;reuseUnmodifiedFileBasedMetamodels=true&#10;type=EMF&#10;modelFile=/TraceabilityModel/case-study/evaluation/Book2Publication/evo/evo/Publication.ecore&#10;expand=true&#10;metamodelFile="/>
</listAttribute>
<listAttribute key="parameters"/>
<stringAttribute key="source" value="/ETLMigrator/model/TraceabilityMigrator.etl"/>
</launchConfiguration>
